<template>
	<div class="container font">
		<section class="header text-center col-md-12 col-s-12">
</section>
		<section class="container">
			<div class="row">
				<article class="col.md-12">
					<form>
					
					<div class="form-group">
					<button type="submit" class="btn btn-default">Buscar</button>
					<input type="text" name="namePerson">
				</div>
					</form>
				</article>
			</div>
				<article class="tabla">
					<table class="table table-condensed table-striped table-bordered">
						<thead>
							<tr>
								<th>Novedad</th>
								<th>Fecha</th>
								<th>Hora de Registro</th>
								<th>Cédula</th>
								<th>Nombres y Apellidos</th>
								<th>Hora de Llegada Establecida</th>
								<th>Hora de Salida Establecida</th>
								<th>Observación</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody v-for="pe in people">
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
							</td>
							</tr>
						</tbody>
					</table>
				</article>
		</section>
			</div>
</template>
