<template>
	<div class="container font">
		<section class="header text-center col-md-12 col-s-12">
		<h1 class="title">Lista de Personas</h1>
</section>
		<section class="container">
			<div class="row">
				<article class="col.md-12">
					<form>
					<div class="form-group">
						<input type="text" name="" class="form-control">
					<button type="submit" class="btn btn-primary">Buscar</button>
					<a @Click="chargeDataCreate(pe.id)" class="btn btn-primary">Crear Persona</a>
				</div>
					</form>
				</article>
			</div>
				<article class="tabla">
					<table class="table table-condensed table-striped table-bordered">
						<thead>
							<tr>
								<th>Documento</th>
								<th>Nombre</th>
								<th>Estado</th>
								<th>Rol</th>
								<th>Programa</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody v-for="pe in this.people">
							<tr>
								<td>{{ pe.document}}</td>
								<td>{{ pe.namePerson}}</td>
								<td>{{ pe.state.state}}</td>
								<td>{{ pe.role.nameRole }}</td>
								<td>{{ pe.program.name_program }}</td>
								<td>
								<a class="btn btn-primary" @click="chargeData(pe.id)">Editar</a>
							</td>
							</tr>
						</tbody>
					</table>
				</article>
		</section>
			</div>
</template>
<script>
	export default{
		data: function(){
			return{
				document:"",
				namePerson:"",	
				state_id:"",
				role_id:"",
				program_id:""

			}
		},
		props: ['people', 'states', 'roles', 'programs' ],
	}
</script>