<template>
  <div class="wrapper">
         <nav id="sidebar">
         	<li class="person">
                <a href="people/show">
                  <i class="icons fa fa-user-circle " aria-hidden="true"></i>
                  <span class="item-menu">Personas</span>
                </a>
              </li>
            <li>
                <a href="">
                  <i class="fas fa-edit" aria-hidden="true"></i>
                  <span class="item-menu">dfghk</span>
                </a>
            </li>  
            <li>
                <a href="">
                  <i class="" aria-hidden="true"></i>
                  <span class="item-menu"></span>
                </a>
            </li>  
        </nav>

    </div>

</template>


 <script>
 	/*
		$(document).ready(function () {
                        $('#sidebarCollapse').on('click', function () {
                            $('#sidebar').toggleClass('active');
                        });
                    });
 	*/
 </script>