<template>
    <section class="container">
        <section class="header text-center col-md-12 col-sm-12">
                <h1 class="title">Crear Persona</h1>
            </section>
        <div clas="row">
            <article class="col-md-10 col-md-offset-1">
                <form @submit.prevent="validatebeforesubmit()">
                    <div class="form-group">
                        <label>Documento</label>
                        <input type="number" v-model="document" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Nombres y Apellidos</label>
                        <input type="text" v-model="namePerson" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Rol</label>
                        <select class="form-control" v-model="role_id" required>
                            <option value="">Seleccione...</option>
                            <option v-for="ro in this.roles" :value="ro.id">{{ ro.nameRole }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control" v-model="state_id" required>
                            <option value="">Seleccione...</option>
                            <option v-for="st in this.states" :value="st.id">{{ st.nameState }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Programa</label>
                        <select class="form-control" v-model="program_id" required>
                            <option value="">Seleccione...</option>
                            <option v-for="pr in this.programs" :value="pr.id">{{ pr.name_program }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </article>
        </div>
    </section>
</template>

<script>
    export default {
        data: function() {
            return {
                document: "",
                namePerson: "",
                role_id: "",
                state_id: "",
                program_id: ""
            }
        },
        props: ['edit', 'people', 'states', 'roles', 'programs' ],
        methods: {
            validatebeforesubmit() {
                if(this.edit === false) 
                    this.newPerson();
                else 
                    this.updatePerson();
            },
            newPerson() {
                axios.post('store', {
                    document: this.document,
                    namePerson: this.namePerson,
                    state_id: this.state_id,
                    role_id: this.role_id,
                    program_id: this.program_id
                }).then(function(response) {
                    window.location.href = '../people';
                }).catch(function(error) {
                    console.log(error);
                })
            },
            updatePerson() {
                axios.put('../update', {
                    document: this.document,
                    namePerson: this.namePerson,
                    state_id: this.state_id,
                    id: this.people.id,
                    role_id: this.role_id,
                    program_id: this.program_id
                }).then(function(response) {
                    window.location.href = '/people';
                }).catch(function(error) {
                    console.log(error);
                })
            }
        },
        mounted() {
            if(this.edit === true) {
                this.document = this.people.document,
                this.namePerson = this.people.namePerson,
                this.role_id = this.people.role_id,
                this.state_id = this.people.state_id,
                this.program_id = this.program_id

            }
        }
    }
</script>
