
body
{
font-family: 'Tahoma', sans-serif;
background: #fff /*url("/images/fondo.jpg")*/;
}
.logo{
	height:3rem;
}
.seccion
{
	width: 35%;
    height: 47%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    background-color: #f8f9fa;
	-moz-border-radius: 39px;
	-webkit-border-radius: 39px;
	border-radius: 39px;
	-moz-box-shadow:10px 10px 5px #000000;
	-webkit-box-shadow:10px 10px 5px #000000;
	box-shadow:10px 10px 5px #000000;
}
.title{
	color:#fff;
	text-align:center ;
	margin-top:3rem;
}
.lbl
{
	text-align:center;
	margin-left: 6.5rem;
    font-size: 1.5rem;
}
#boton
{
	margin-top:1rem;
	margin-left: 10.6rem;
}
#bot{
	background-color:#fff;
	color:#000;
	border:7px #e3342f;
}
#frm
{
	border-color:#000;
}
 .form-control-login
{
    margin-top: 1rem;
    color: #000;
    background: #fff;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright:7px;
    -moz-border-radius-bottomleft:7px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-top-left-radius:7px;
    -webkit-border-top-right-radius:7px;
    -webkit-border-bottom-left-radius:7px;
    -webkit-border-bottom-right-radius:6px;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:6px;
    padding:1.5rem;
}
 .account-wall.box-content.login-box-height.space.form-group.form-control-login 
{
        height: 28rem !important;
}
.title-login
{
	font-size: 2rem;
	margin-top: 2rem;
	text-align: center;
}
.login-wrap
{
	background-color: #d6e0f5 ;
	border-radius: 0.5em;
	box-shadow:0 22% 15% 0 rgba(0,0,0,.24),0 50% 60% 0 rgba(0,0,0,.19);
	text-decoration: none;
	color: #000000;
	height: 22.44rem;
	position: center;
	max-height: 28rem;
	margin: 10px auto;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
	opacity: 0.8;
}
.login-box-height
{
	height: 23rem;
}
#login
{
	height: 23rem;
}
.btn-login
{
	border-color: #fff !important;
	background-color: #ba3333 !important;
	margin-bottom: 1;
	margin-top: -1rem;
	margin-left:10rem;
}
.btn-login:hover
{
	background-color: #501515 !important;
	border-color: #fff !important;
}
.btn-link
{
	margin-left:9rem;
}
/* ---------------------------------------------------
				    SIDEBAR STYLE
				----------------------------------------------------- */

				.wrapper {
				    display: flex;
				    align-items: stretch;
				}

				#sidebar {
				    min-width: 140px;
				    max-width: 250px;
				    background: #fff;
				    font-color: #000;
				    transition: all 0.3s;
				    height:100%;
				}

				#sidebar.active {
				    min-width: 117px;
				    max-width: 80px;
				    text-align: center;
				}

				#sidebar.active .sidebar-header h3,
				#sidebar.active .CTAs {
				    display: none;
				}

				#sidebar.active .sidebar-header strong {
				    display: block;
				}

				#sidebar ul li a {
				    text-align: left;
				}

				#sidebar.active ul li a {
				    padding: 20px 10px;
				    text-align: center;
				    font-size: 0.85em;
				}

				#sidebar.active ul li a i {
				    margin-right: 0;
				    display: block;
				    font-size: 1.8em;
				    margin-bottom: 5px;
				}

				#sidebar.active ul ul a {
				    padding: 10px !important;
				}

				#sidebar.active .dropdown-toggle::after {
				    top: auto;
				    bottom: 10px;
				    right: 50%;
				    -webkit-transform: translateX(50%);
				    -ms-transform: translateX(50%);
				    transform: translateX(50%);
				}

				#sidebar .sidebar-header {
				    padding: 20px;
				    background: #009184;
				}

				#sidebar .sidebar-header strong {
				    display: none;
				    font-size: 1.8em;
				}

				#sidebar ul.components {
				    padding: 20px 0;
				    border-bottom: 1px solid #009184;
				}

				#sidebar ul li a {
				    padding: 10px;
				    font-size: 1.1em;
				    display: block;
				}

				#sidebar ul li a:hover {
				    color: #7386D5;
				    background: #0bbab9;
				}

				#sidebar ul li a i {
				    margin-right: 10px;
				}

				#sidebar ul li.active>a,
				a[aria-expanded="true"] {
				    color: #fff;
				    background: #0bbab9;
				}

				a[data-toggle="collapse"] {
				    position: relative;
				}

				.dropdown-toggle::after {
				    display: block;
				    position: absolute;
				    top: 50%;
				    right: 20px;
				    transform: translateY(-50%);
				}

				ul ul a {
				    font-size: 0.9em !important;
				    padding-left: 30px !important;
				    background: #0bbab9;
				}

				ul.CTAs {
				    padding: 20px;
				}

				ul.CTAs a {
				    text-align: center;
				    font-size: 0.9em !important;
				    display: block;
				    border-radius: 5px;
				    margin-bottom: 5px;
				}


				a.article,
				a.article:hover {
				    background: #0bbab9 !important;
				    color: #fff !important;
				}
				.row{
					height:100%;
				}

				/* ---------------------------------------------------
				    CONTENT STYLE
				----------------------------------------------------- */

				#content {
				    width: 100%;
				    padding: 20px;
				    min-height: 100vh;
				    transition: all 0.3s;
				}

				/* ---------------------------------------------------
				    MEDIAQUERIES
				----------------------------------------------------- */

				@media (max-width: 768px) {
				    #sidebar {
				        min-width: 80px;
				        max-width: 80px;
				        text-align: center;
				        margin-left: -80px !important;
				    }
				    .dropdown-toggle::after {
				        top: auto;
				        bottom: 10px;
				        right: 50%;
				        -webkit-transform: translateX(50%);
				        -ms-transform: translateX(50%);
				        transform: translateX(50%);
				    }
				    #sidebar.active {
				        margin-left: 0 !important;
				    }
				    #sidebar .sidebar-header h3,
				    #sidebar .CTAs {
				        display: none;
				    }
				    #sidebar .sidebar-header strong {
				        display: block;
				    }
				    #sidebar ul li a {
				        padding: 20px 10px;
				    }
				    #sidebar ul li a span {
				        font-size: 0.85em;
				    }
				    #sidebar ul li a i {
				        margin-right: 0;
				        display: block;
				    }
				    #sidebar ul ul a {
				        padding: 10px !important;
				    }
				    #sidebar ul li a i {
				        font-size: 1.3em;
				    }
				    #sidebar {
				        margin-left: 0;
				    }
				    #sidebarCollapse span {
				        display: none;
				    }
				}
				#sidebarCollapse{
					size: 3rem;
				}
				li{
				list-style:none;
				height:3rem;
				margin-left: 2rem;
				}
				.menuu{
					background-color: #009184;
					font-size: 2rem;
				}
				.rol{
				font-size: 2.25rem;
    			width: max-content;
				}
				#ge{
					margin-left: 8rem;
				}
				.person{
				margin-top: 1rem;
				}
				.prueba{
				margin-left: 1rem;
				margin-top: 1rem;
				}
				.prueba-grupal{
				margin-left: 1rem;	
				}

@media screen and(max-width: 768px){
.form-control-login
	{
		margin-left: 1rem !important;
    	margin-top: 10rem;
    	width: 23rem;

	}
.lbl
	{
		margin-left: 6rem;
	}
#boton
	{
	   margin-left: 9.6rem;
	}
.btn-login
	{
		margin-left:0rem;
	}
.btn-link
	{
	margin-left:3rem;
	}

}
.title{
	color:#fff;
	text-align:center ;
}
@media screen and (max-width: 360px){
.seccion
	{
		width:83%;
	}
.lbl
	{
		margin-left: 1rem;		
	}	
#boton
	{
	   margin-left: 5.6rem;
	}
.form-control-login
	{		
		margin-left: 0rem !important;
	}
}
@media screen and (max-width: 375px){
.seccion 
	{
    width: 81%;
	}
.lbl 
	{
    margin-left: 2rem;
	}
}